.backToHomeLink {
    cursor: pointer;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.detailedViewRowWrapper {
    padding-bottom: 30px;
    margin-bottom: 20px;
}