.backToHomeLink {
    cursor: pointer;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.detailedViewRowWrapper {
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.itemName {
    margin-bottom: 1rem;
}

.image-gallery-thumbnail {
    width: 120px
}

.image-gallery-thumbnail img {
    width: auto;
    height: 75px;
    object-fit: cover;
}

.image-gallery-image {
    max-width: 100%;
    aspect-ratio: 4 /3;
}