.backToHomeLink {
    cursor: pointer;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.detailedViewRowWrapper {
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.itemName {
    margin-bottom: 1rem;
}

.image-gallery-thumbnail {
  width: 120px
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}

.image-gallery-image {
    max-width: 100%;
    aspect-ratio: 4 /3;
}

.sortable-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sortable-image-wrapper {
    padding: 0;
    height: calc(100% - 47px);
    width: 100%;
}

.sortable-remove-button {
    margin: 5px;
}

.sortable-wrapper {
    cursor: pointer;
}