.motorcycle-card-wrapper {
    margin-bottom: 25px;
}

.motorcycle-card-img {
    height: 250px;
    object-fit: cover;
}

.shop-item-card-title-col {
    font-weight: 600;
}

.shop-item-card-price-col {
    text-align: left;
    font-weight: 600;
}

.shop-item-card-km-col {
    text-align: right;
    font-weight: 600;
}